*, *::before, *::after  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    place-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;


}

input:checked + .slider {background-color: #2196F3;}

input:focus + .slider {box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.card {
    width: 90vw;
    background-color: rgb(240, 240, 240);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.username {
    margin-top: 15px;
    margin-bottom: 15px;
}

.follower-number {
    font-size: 3rem;
    font-weight: 850;
}

.follower-text {
    font-variant: all-small-caps;
}

.follower-change {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon {
    margin-right: 5px;
}
.up {
    color: green;
}

.down {
    color: red;
}


.fb {
    border-top: 2px solid blue;
}

.twitter {
    border-top: 2px solid skyblue;
}

.youtube {
    border-top: 2px solid red;
}